<div class="welcome splash">
	<h1>Hello.</h1>
</div>

<div class="module module-text col-sm-12 col-md-10 col-md-offset-1">
	<h2>Complex Simplicity</h2>
	<p>
		At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. 
	</p>

</div>

<div class="module-splash">

	<div class="module module-text col-sm-12 col-md-10 col-md-offset-1">
		<h2 style="margin-bottom: 0; font-weight: 300;">
			“There is no greater agony than bearing an untold story inside you.”
		</h2>
		<p style="text-align: center; margin: 12px 0 0 0;">
			Maya Angelou
		</p>
	</div>

</div>

<div class="module module-text col-sm-12 col-md-10 col-md-offset-1">
	<h2>Complex Simplicity</h2>
	<p>
		At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. 
	</p>
</div>