<div class="splash">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">Login</div>
            <div class="panel-body">
                <form #f="ngForm" (ngSubmit)="onLogin()" class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="email" id="email" [(ngModel)]="user.email" class="form-control" name="email" placeholder='email' />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="password" [(ngModel)]="user.password" id="password" class="form-control" name="password" placeholder="password"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <div class="checkbox">
                                <label style="text-transform: uppercase;color: #fff;letter-spacing: 1px;cursor: pointer;font-size: 13px;font-weight: 500 !important;">
                                    <input type="checkbox" name="remember"> Remember Me
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-cerulean">
                                Log in
                            </button>

                            <a style="padding: 0;margin: 2em 0 0 0;display: block;" class="btn" href="">
                                Forgot Your Password?
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>