<div class="container">
	<div class="module-title col-sm-12" style="margin: 6em 0 0 0;">
		<h1>Recent Moments</h1>
	</div>
	<div class="module module-posts col-sm-12">
		<div *ngFor="let blogPost of blogPosts" class="col-xs-12 col-sm-6 col-md-4 tp_list">
			<div class="tp_holder">
				<a routerLink="/blogpost/{{blogPost.id}}" >
					<div class="tp_img splash" [ngStyle]="{'background-image': 'url(' + blogPost.img_path + ')'}">			
					</div>
				</a>
			</div>

			<div class="tp_title">
				<a routerLink="/blogpost/{{blogPost.id}}" >
					<h1> {{blogPost.post_title}} </h1>
				</a>
			</div>

			<div class="tp_excerpt">
				<p>{{blogPost.post_excerpt}}</p>
			</div>

		</div>
	</div>
</div>